@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #0f1310;
  font-family: 'Roboto', serif;
}

/*=========nav===========*/
.nav {
  font-family: Times New Roman, serif;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #b63b3b;
}

.text-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
  padding: 0% 1%;
  margin: 0;
  height: 45px;
  position: relative;
}

.link {
  font-family: 'Roboto', serif;
  text-decoration: none;
  color: white;
  width: 5%;
  font-size: 15px;
  font-weight: 1;
}

.link:after {
  content: "";
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 0%;
  border-bottom: 2px solid white;
}

.link:hover:after {
  width: 100%;
}

.cart-link {
  text-decoration: none;
  color: white;
}

.cart-link:after {
  content: "";
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 0%;
  border-bottom: 2px solid white;
}

.cart-link:hover:after {
  width: 100%;
}

.right a {
  text-decoration: none;
  color: white;
}

.right {
  font-size: 20px;
  position: static;
  left: 50%;
  -webkit-transform: translate(-15%);
          transform: translate(-15%);
  cursor: default;
}

.icon {
  text-decoration: none;
  color: white;
}

.item-number {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 5px;
  font-size: 17px;
}

.products-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 4px solid white;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.headers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}

.title1 {
  width: 45%;
}

.products-wrap {
  width: 100%;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.price {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.quantity {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.total {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.product {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  color: white;
}

.product img {
  height: 100px;
  width: 130px;
  border-radius: 5px;
}

.product span {
  color: white;
}

.removeItem {
  display: none;
  background-color: white;
}

ion-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.basketTotalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  color: white;
}

.basketTotal1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.baketTotal {
  width: 20%;
}

/*=========smaller screen==========*/
@media (max-width: 900px) {
  .item-number {
    font-size: 12px;
  }
  .keycaps {
    -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
  }
  .item4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .item5 {
    grid-column: auto;
  }
  .item7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (max-width: 550px) {
  .cart-link {
    right: 7%;
  }
  .item-number {
    font-size: 10px;
  }
  .keycaps {
    -ms-grid-columns: 5% 1fr 1fr 5%;
        grid-template-columns: 5% 1fr 1fr 5%;
  }
  .item3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .item4 {
    grid-column: auto;
  }
  .item5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  #slider figure {
    left: 1%;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

/*=========Footer========*/
.copyright {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid white;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cpytext {
  color: white;
  font-size: 15px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.orderButton {
  padding: 5px;
}

.orderLink {
  text-decoration: none;
  color: black;
}

.userInput1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.userInput1 label {
  margin: auto;
  color: white;
  font-family: 'Roboto', serif;
}

.input {
  width: 50%;
  margin: auto;
  border-radius: 5px;
}

.submit {
  margin: 10px auto;
  border-radius: 5px;
  width: 50%;
}
/*# sourceMappingURL=cart179.css.map */