{% extends 'baseshop.html'%}
{% block title %}DaSadCart{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="{{url_for('static', filename='css/cart192.css')}}">
{% endblock %}
{% block content%}
    <div class="products-container">
        <div class="headers">
            <h5 class="title1">Products</h5>
            <h5 class="price">Price</h5>
            <h5 class="quantity">Quantity</h5>
            <h5 class="total">Total</h5>
        </div>
        <div class="products-wrap"> 
        </div>
    </div>
    <div class="order">
        <button class="orderButton">Order
            
        </button>    
    </div>
{% endblock %}
