{% extends 'baseshop.html' %}
{% block title %}DaSadData{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/cart193.css')}}">
{% endblock %}
{% block content %}

    {% if error_statement %}
        <div class="alert-container">
            <div class="alert-background">
                <div class="alert">
                    <h1 style="color: white;">
                        {{error_statement}}
                    </h1>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="userInput">
        <form class="userInput1" action="#" method="POST">
            <input class="input" type="text" placeholder="First Name:" name="firstName" value="{{user}}">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Last Name:" name="lastName" value="{{surname}}">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="City:" name="city" value="{{location}}">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Postal Number:" name="postalNumber" value="{{postalCode}}">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Street:" name="street" value="{{streets}}">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="House Number:" name="houseNumber" value="{{numberOfHouse}}">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Country:" name="country" value="{{nation}}">
            <br/>
            <br/>
            <button type="submit" class="Submit">Change</button>
        </form>
    </div>
{% endblock %}