{% extends 'baseshop.html' %}
{% block title %}DaSadData{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/cart193.css')}}">
{% endblock %}
{% block content %}

    {% if error_statement %}
        <div class="alert-container">
            <div class="alert-background">
                <div class="alert">
                    <h1 style="color: white;">
                        {{error_statement}}
                    </h1>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="userInput">
        <form class="userInput1" action="/finishOrder" method="POST">
            <input class="input" type="text" placeholder="First Name:" name="firstName">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Last Name:" name="lastName">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="City:" name="city">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Postal Number:" name="postalNumber">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Street:" name="street">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="House Number:" name="houseNumber">
            <br/>
            <br/>

            <input class="input" type="text" placeholder="Country:" name="country">
            <br/>
            <br/>
            <button type="submit" class="Submit">Submit</button>
        </form>
    </div>
{% endblock %}